################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/publish/
/bin/Release/
/bin/Debug/
/obj/
/publish/
packages/
