<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Version" value="1.0"/>
    <add key="OAuthServerUrlDev" value="https://cvsa-dev.usiminas.com"/>
    <add key="OAuthServerUrlHml" value="https://cvsa-hml.usiminas.com"/>
    <add key="ServerUrlLocal" value="http://localhost:9100"/>
    <add key="ServerUrlDEV" value="https://cvse-dev.usiminas.com"/>
    <add key="ServerUrlHML" value="https://cvse-hml.usiminas.com"/>
    
    <add key="ComplementUrlLogin" value="/Home/ActionLogin"/>
    <add key="EndPointUser" value="/api/usuario/current"/>
    <add key="EndPointGrupoClient" value="/api/usuario/current/clientes"/>
    <add key="EndPointPluginGet" value="/api/plugin"/>
    <add key="EndPointPluginPost" value="/api/plugin"/>
    <add key="EndPointBeneficiadorPost" value="/api/emissaopedidos/beneficiador"/>
    <add key="EndPointRecebedorPost" value="/api/emissaopedidos/recebedor"/>
    <add key="EndPointBeneficiadorDePara" value="/api/plugin/beneficiador"/>
    <add key="EndPointRecebedorDePara" value="/api/plugin/recebedor"/>
    <add key="EndPointListaPartNumber" value="/api/plugin/PartNumber"/>
    <add key="EndPointPesoMultiplo" value="/api/plugin/checkPesoMultiploPartNumber"/>
    <add key="EndPointCalendarioAceite" value="/api/plugin/checkCalendario"/>
    <add key="EndPointEmititPedido" value="/api/emissaopedidos/emitirPedido"/>
    <add key="EndPointLog" value="/api/plugin/Log"/>

    <add key="AuthEnable" value="true"/>
    <add key="AuthClientId" value="ExtranetV2"/>
    <add key="AuthClientSecret" value="LA|?i:IZPJ}{s)k+J&lt;yL8i1-|)Zwm4#y5@oF9xe{7Y*RHREQO2c;C^9B%|xR4a*aCWg#-!3s|k!H3%Y)h18jxilciAtEbcfdy@H"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
 