<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Version" value="1.0"/>
  </appSettings>
  <ExemploPedido>
    <PO>
      <hearder>
        <kunnr>H000029201</kunnr>
        <BSTKD>103748</BSTKD>
        <BSTDK>05.10.2018</BSTDK>
        <ZTERM></ZTERM>
        <KUNN2>H000029201</KUNN2>
        <INCO1></INCO1>
        <VER>13</VER>
        <TMSG>850</TMSG>
      </hearder>
      <detal>
        <EBELP>1</EBELP>
        <PROYECTO></PROYECTO>
        <KETDAT>01.01.2018</KETDAT>
        <KDMAT>Parte 1</KDMAT>
        <KWMENG>10.000</KWMENG>
        <VRKME>TO</VRKME>
      </detal>
      <detal>
        <EBELP>2</EBELP>
        <PROYECTO></PROYECTO>
        <KETDAT>02.01.2018</KETDAT>
        <KDMAT>Parte 2</KDMAT>
        <KWMENG>11.000</KWMENG>
        <VRKME>TO</VRKME>
      </detal>
    </PO>
  </ExemploPedido>
</configuration>

